Django==1.11.8
django-cacheops==4.0.3
django-haystack==2.6.1
django-mysqlpool==0.2.1
django-redis-sessions==0.6.1
funcy==1.10
jieba==0.38
Markdown==2.6.8
Pygments==2.2.0
PyMySQL==0.7.11
pytz==2016.10
redis==2.10.6
six==1.11.0
SQLAlchemy==0.9.10
uWSGI==2.0.15
Whoosh==2.7.4
requests==2.19.1

